<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include collection-head.html %}
<link href="../site.e5326b70d6cf060c8fa7.min.css" rel="stylesheet"></head>

<body>
    {% include navbar.html %}
    <main>
        <section class="hero-cascade pb-5">
            <div style="background: url({{page.hero | absolute_url}});" class="hero-view bg-image-fill position-relative p-5">
                <!-- <span class="mask mask-dark mask-gradient-t-b"></span>
                <nav aria-label="breadcrumb" class="breadcrumb-light position-absolute">
                    <ol class="breadcrumb bg-transparent">
                      <li class="breadcrumb-item"><a class="text-white" href="/programs.html">Our Clubs</a></li>
                      <li class="breadcrumb-item active text-light font-weight-bold" aria-current="page">{{page.title}}</li>
                    </ol>
                  </nav> -->
            </div>
            <div class="d-flex flex-column align-items-center col-sm-11 col-md-8 col-lg-7 d-flex flex-column justify-content-center mx-auto hero-content shadow bg-white rounded p-3">
                <h1 class="text-center section-header underline">{{page.title}}</h1>
                <p class="lead text-justify pt-3 px-3">{{page.description | smartify | markdownify | replace: "<p>" |
                        replace: "</p>"}}</p>
                    {% if page.callToAction != null %}
                    <a
                        href="{{ page.callToAction.link }}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="btn btn-secondary text-uppercase text-white mx-auto"
                        >{{page.callToAction.text}}</a
                    >
                    {% endif %}
            </div>
        </section>
        <section class="py-5">
            <div class="container">
                {% if page.programs %}
                {% for program in page.programs %}
                <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                        {%-capture image-%}{{program.image | split: "/" | last}}{%-endcapture-%}
                        {% include img_srcset.html class="img-fluid mb-4 mx-4 m-md-0" alt=program.title
                        filename=image
                        %}
                    </div>
                    <div class="col-sm-12 col-md-9 col-lg-9">
                        <h2 class="mb-3 text-center text-md-left">{{program.title}}</h2>
                        <p class="text-justify">{{program.description | markdownify | replace: "<p>" | replace: "</p>"}}</p>
                    </div>
                </div>
                {% if forloop.last == false %}
                <hr class="my-5">
                {% endif %}
                {% endfor %}
                {% else %}
                <div class="row">
                    {{content}}
                </div>
                {% endif %}

            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
<script type="text/javascript" src="../site.b43efd1e0b08104364f0.js"></script></body>

</html>