.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
}

.mask-dark {
    background: rgba(0, 0, 0, 0.6);
    &.mask-gradient-l-t {
        background: linear-gradient(to left top, rgba(0, 0, 0, 0) 20%, rgba(0, 0, 0, 0.9) 90%);
    }
    &.mask-gradient-t-b {
        background: linear-gradient(rgba(0, 0, 0, 0.75) 0%, transparent 75%);
    }
    &.mask-gradient-t-b-2 {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 30%, rgba(0, 0, 0, 1) 100%);
    }
}

.mask-25 {
    background: rgba(0, 0, 0, 0.25);
}

.mask-pattern {
    background-image: url("../assets/images/mask-pattern.png");
}
