body {
    overflow-x: hidden !important;
    display: flex;
    height: 100%;
    min-height: 100vh;
    flex-direction: column;
}

main {
    padding-top: 56px;
    flex: 1 0 auto;
    min-height: 100%;
}
