@import "./helpers/line-clamp";
@import "./helpers/mask";

.bg-image-fill {
    //background: url(../assets/images/img.gif) center no-repeat;
    background-repeat: no-repeat !important;
    background-position: center !important;
    overflow: hidden;
    background-size: cover !important;
}

.bg-image-contain {
    //background: url(../assets/images/img.gif) center no-repeat;
    background-repeat: no-repeat !important;
    background-position: center !important;
    overflow: hidden;
    background-size: contain !important;
}

.vh-100 {
    height: 100vh;
}
