<!DOCTYPE html>
<html lang="en-US">

<head>
    {% include head.html %}
</head>

<body>
    {% include navbar.html %}
    <!-- <header class="header position-relative bg-image-fill" style="background:url({{page.image | absolute_url }})">
        <span class="mask mask-dark"></span>
        <div class="container position-relative h-100 my-5 py-5">
            <div class="row d-flex justify-content-center align-items-center">
                <h1 class="text-white">{{page.title}}</h1>
            </div>
        </div>
    </header> -->
    <main>
        <section class="hero-cascade pb-5">
            <div style="background: url({{page.image | absolute_url}});" class="hero-view bg-image-fill position-relative p-5">
            </div>
            <div class="col-sm-11 col-md-8 col-lg-7 d-flex flex-column justify-content-center mx-auto hero-content shadow bg-white rounded p-3">
                <h1 class="text-center section-header">{{page.title}}</h1>
                <h2 class="text-center h4 text-muted">{{page.city | split: "," | first}} Clubhouse</h2>
                <p class="text-center text-muted">Open today {{page.schoolHours}}</p>
                <p class="lead text-justify pt-3 px-3">{{content | smartify | markdownify | replace: "<p>" |
                        replace: "</p>"}}</p>
                <div class="list-group">
                    <div class="list-group-item flex-column align-items-start">
                        <h6 class="m-0">{{page.unitDirector}}</h6>
                        <small class="text-muted">Unit Director</small>
                    </div>
                    <div class="list-group-item flex-column align-items-start">
                        <h6 class="m-0">{{page.address}} {{page.city}}, {{page.zip}}</h6>
                        <small class="text-muted">Address</small>
                    </div>
                    <div class="list-group-item flex-column align-items-start">
                        <h6 class="m-0">{{page.phone}}</h6>
                        <small class="text-muted">Phone</small>
                    </div>
                    <div class="list-group-item flex-column align-items-start">
                        <h6 class="m-0">{{page.fax}}</h6>
                        <small class="text-muted">Fax</small>
                    </div>
                    <div class="list-group-item flex-column align-items-start">
                        <h6 class="m-0">{{page.email}}</h6>
                        <small class="text-muted">Email</small>
                    </div>
                </div>
            </div>
        </section>
    </main>
    {% include footer.html %}
    {% include scripts.html %}
</body>

</html>