<footer class="bg-dark text-white py-4 px-2">
    <div class="container-fluid">
        <div class="row">
            <div
                class="py-2 col-sm-12 col-md-4 d-flex justify-content-center align-items-center justify-content-md-start"
            >
                <img src="{{'assets/images/hero-logo.png' | absolute_url}}" width="100" />
            </div>
            <div class="py-2 col-sm-12 col-md-4">
                <h6 class="text-center">Contact Us</h6>
                <div class="d-flex align-items-center justify-content-center">
                    <a
                        href="{{site.data.metadata.facebookUrl}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="mx-1 text-white border rounded-circle border-white btn btn-round"
                        ><i class="fab fa-facebook-f"></i
                    ></a>
                    <a
                        href="{{site.data.metadata.twitterUrl}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="mx-1 text-white border rounded-circle border-white btn btn-round"
                        ><i class="fab fa-twitter"></i
                    ></a>
                    <a
                        href="{{site.data.metadata.instagramUrl}}"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="mx-1 text-white border rounded-circle border-white btn btn-round"
                        ><i class="fab fa-instagram"></i
                    ></a>
                </div>
            </div>
            <div
                class="py-2  col-sm-12 col-md-4 d-flex justify-content-center align-items-center justify-content-md-end"
            >
                <small class="pt-3 pt-sm-0">
                    <a class="made-with-heart" href="#" rel="noopener noreferrer" target="_blank"
                        >Made with <i class="fas fa-heart" aria-hidden="true"></i> by Brightside Tech</a
                    >
                </small>
            </div>
        </div>
    </div>
</footer>
