<footer class="bg-dark text-white py-4 px-2">
  <div class="container-fluid">
    <div class="row">
      <div
        class="py-2 col-sm-12 col-md-4 d-flex flex-column align-items-md-start align-items-center"
      >
        <img
          src="{{ 'assets/images/hero-logo.png' | absolute_url }}"
          width="100"
        />
        <small class="mt-1">EIN # 95-6122699</small>
        <small class="mt-1">42-600 Cook Street</small>
        <small>Suite 120 Palm Desert, CA 92211</small>
      </div>
      <div class="py-2 col-sm-12 col-md-4">
        <h6 class="text-center">Contact Us</h6>
        <div class="d-flex align-items-center justify-content-center">
          <a
            href="{{ site.data.global.facebookUrl }}"
            target="_blank"
            rel="noopener noreferrer"
            class="mx-1 text-white border rounded-circle border-secondary btn btn-round"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="{{ site.data.global.twitterUrl }}"
            target="_blank"
            rel="noopener noreferrer"
            class="mx-1 text-white border rounded-circle border-secondary btn btn-round"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="{{ site.data.global.instagramUrl }}"
            target="_blank"
            rel="noopener noreferrer"
            class="mx-1 text-white border rounded-circle border-secondary btn btn-round"
            ><i class="fab fa-instagram"></i
          ></a>
        </div>
      </div>
      <div
        class="py-2 col-sm-12 col-md-4 d-flex justify-content-center align-items-center justify-content-md-end"
      >
        <a
          href="https://www.guidestar.org/profile/95-6122699"
          target="_blank"
          rel="noopener noreferrer"
          ><img src="https://widgets.guidestar.org/gximage2?o=8486200&l=v4"
        /></a>
      </div>
    </div>
    <div class="row">
      <div
        class="py-2 col-sm-12 d-flex justify-content-center align-items-center"
      >
        <small class="pt-3 pt-sm-0">
          <a
            class="text-white"
            href="{{ site.developerUrl }}"
            rel="noopener"
            target="_blank"
            >Made with ❤️ by Diego Bernal</a
          >
        </small>
      </div>
    </div>
  </div>
</footer>
