<meta charset="utf-8" /> <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<meta name="robots" content="index, follow" />
<meta name="keywords" content="{{site.data.metadata.keywords | join: ', '}}" />
<meta itemprop="name" content="{{site.data.metadata.title}}" />
<meta itemprop="description" content="{{site.data.metadata.description}}" />
<meta itemprop="image" content="{{site.data.metadata.image | absolute_url}}" />
<meta property="og:title" content="{{site.data.metadata.title}}" />
<meta property="og:type" content="{{site.data.metadata.type}}" />
<meta property="og:description" content="{{site.data.metadata.description}}" />
<meta property="og:image" content="{{site.data.metadata.image | absolute_url}}" />
<meta property="og:url" content="{{page.url | absolute_url}}" /> <meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{site.data.metadata.title}}" />
<meta name="twitter:description" content="{{site.data.metadata.description}}" />
<meta name="twitter:image" content="{{site.data.metadata.image | absolute_url}}" />
<meta name="twitter:url" content="{{page.url | absolute_url}}" />
<script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
<link rel="shortcut icon" href="{{site.data.metadata.favicon | absolute_url}}" />
<title>{{ page.title }} | {{ site.data.metadata.title }}</title>
