<nav
    class="py-0 navbar navbar-expand-xl navbar-dark bg-primary shadow-sm sticky-top"
>
    <a href="/" class="navbar-brand">
        <img
            src="{{ 'assets/images/hero-logo.png' | absolute_url }}"
            width="125"
        />
    </a>
    <button
        class="py-2 navbar-toggler border-0"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
        aria-controls="navbar"
        aria-label="Toggle navigation"
    >
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbar">
        <div class="navbar-nav mr-auto">
            {% for link in site.data.navigation-links %}
            <a
                class="text-white py-3 nav-item nav-link {% if page.url contains link.url %} active font-weight-bold{% endif %}"
                href="{{ link.url | absolute_url }}"
                >{{ link.label }}</a
            >
            {%endfor%}
        </div>
        <div class="d-flex flex-column flex-xl-row">
            {%- comment -%}
            <div class="my-1 my-xl-0">
                <a
                    href="https://docs.google.com/forms/d/e/1FAIpQLSfC6nCVFu7QzWHC2HtNgxdxcsIx2LSWRGG4LO39Iwj97NNe5g/viewform?usp=sf_link"
                    role="button"
                    target="_blank"
                    rel="noreferrer noopener"
                    class="btn btn-sm btn-light text-secondary font-weight-bold shadow my-2 my-sm-0 mr-1"
                    >Order Pizza 🍕
                </a>
            </div>
            {%- endcomment -%}
            <div class="my-1 my-xl-0">
                <a
                    href="/virtual-club"
                    role="button"
                    class="btn btn-sm btn-light text-secondary font-weight-bold shadow my-2 my-sm-0 mr-1"
                    >Virtual Club
                    <span style="font-size:10px; margin-left: 5px"
                        ><i class="fa fa-circle text-danger Blink"></i
                    ></span>
                </a>
            </div>
            <div class="my-1 my-xl-0">
                <a
                    href="{{ site.data.global.donateUrl }}"
                    target="_blank"
                    rel="noopener"
                    role="button"
                    class="btn btn-sm btn-light text-secondary font-weight-bold shadow my-2 my-sm-0"
                    >Donate<i class="ml-1 fas fa-heart"></i
                ></a>
            </div>
        </div>
    </div>
</nav>
