---
layout: site-layout
title: Our Clubs
hero: /assets/images/testing-2.jpg
description: >-
  Provide safe havens and a welcoming atmosphere for thousands of youth across
  the Coachella Valley. After school activities build leadership skills,
  encourage good citizenship, keep students engaged academically, promote
  physical activity, and champion community involvement. For more information on
  programs and services please contact your local clubhouse.
permalink: our-clubs.html
---

<section class="hero-cascade">
    <div
        style="background: url({{ page.hero | absolute_url }});"
        class="hero-view bg-image-fill position-center position-relative p-5"
    ></div>
    <div
        class="d-flex flex-column align-items-center col-sm-11 col-md-8 col-lg-7 mx-auto hero-content shadow bg-white rounded p-3"
    >
        <h1 class="text-center section-header underline">{{ page.title }}</h1>
        <div class="lead pt-3 px-3">{{ page.description | markdownify }}</div>
        <div class="d-flex justify-content-center">
            <a
                href="{{ site.data.global.registrationForm }}"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-secondary mx-auto text-uppercase"
                >BECOME A CLUB MEMBER</a
            >
        </div>
    </div>
</section>
<section class="section py-5">
    <div class="container">
        <div class="row">
            {% for club in site.our-clubs %}
            <div class="col-sm-12 col-md-12 col-lg-6 py-3">
                <div class="card border-0 shadow bg-dark text-white">
                    <span class="rounded mask mask-dark mask-gradient-l-t"></span> {%-capture image-%}{{
                        club.image | split: "/" | last
                    }}{%-endcapture-%} {% include img_srcset.html class="card-img rounded" style="height: 200px"
                    alt=club.site filename=image %}
                    <div class="card-img-overlay">
                        <p class="card-text mb-1">{{ club.title }}</p>
                        <h5 class="card-title h1">{{ club.city | split: ", " | first }}</h5>
                        <div>
                            <a
                                href="tel:+{{ club.phone | replace: '(' | replace: ')' | replace: '-' }}"
                                class="text-white border rounded-circle border-secondary btn btn-round"
                                ><i class="fas fa-phone"></i
                            ></a>
                            <a
                                href="mailto:{{ club.email }}"
                                class="text-white border rounded-circle border-secondary btn btn-round"
                                ><i class="fas fa-envelope"></i
                            ></a>
                            <a
                                href="{{ club.url }}"
                                class="text-white border rounded-circle border-secondary btn btn-round"
                                ><i class="fas fa-arrow-right"></i
                            ></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
