---
layout: site-layout
title: Programs
permalink: programs.html
---
<section class="hero-cascade">
    <div style="background: url({{site.data.content.programs.hero}});" class="hero-view bg-image-fill position-relative p-5">
    </div>
    <div class="col-sm-11 col-md-8 col-lg-7 mx-auto hero-content shadow bg-white rounded p-3">
        <h1 class="text-center section-header">{{page.title}}</h1>
        <p class="lead text-justify pt-3 px-3">{{site.data.content.programs.description}}</p>
    </div>
</section>
<section class="section py-5">
    <div class="container">
        <div class="row">
            {% assign scholarshipsProgram = site.program-categories | where: "title", "College Scholarships" | first %}
            {% assign categories = site.program-categories | where_exp: "item", "item.title != 'College Scholarships'"
            %}

            <div class="col-sm-12 py-3">
                <div class="card border-0 bg-dark text-white shadow h-100">
                    <span class="mask rounded mask-dark"></span>
                    {%-capture image-%}{{scholarshipsProgram.hero | split: "/" | last}}{%-endcapture-%}
                    {% include img_srcset.html class="card-img" style="height:300px" alt=scholarshipsProgram.title
                    filename=image
                    %}
                    <div class="card-img-overlay p-3 d-flex flex-column justify-content-between">
                        <div>
                            <h3 class="card-title">{{scholarshipsProgram.title | markdownify | replace: "<p>" |
                                    replace: "</p>"}}</h3>
                            <p class="card-text pt-3">
                                {{scholarshipsProgram.description | markdownify | replace: "<p>" |
                                    replace: "</p>"}}
                            </p>
                        </div>

                        <div>
                            <a href="{{scholarshipsProgram.url}}" class="btn btn-link font-weight-bold text-warning btn-lg">Read
                                More <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            {% for category in categories %}
            <div class="col-sm-12 col-md-12 col-lg-6 py-3">
                <div class="card bg-dark text-white shadow h-100 border-0">
                    <span class="mask rounded mask-dark"></span>
                    {%-capture image-%}{{category.thumb | split: "/" | last}}{%-endcapture-%}
                    {% include img_srcset.html class="card-img" style="height:250px" alt=category.title
                    filename=image
                    %}
                    <div class="card-img-overlay p-3 d-flex flex-column justify-content-between">
                        <div>
                            <h3 class="card-title">{{category.title | markdownify | replace: "<p>" | replace: "</p>"}}</h3>
                            <p class="card-text py-0">
                                {{category.description | markdownify | replace: "<p>" | replace: "</p>"}}
                            </p>
                        </div>
                        <div>
                            <a href="{{category.url}}" class="btn btn-link font-weight-bold text-warning btn-lg">View
                                Programs
                                <i class="fa fa-angle-double-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>