---
layout: site-layout
title: Boys & Girls Clubs of Coachella Valley Team
hero: /assets/images/team-hero.jpg
description: "Our greatest leadership strengths spring from our stability as a well-established organization that starts with an extremely stable upper and middle management team. The Chief Executive Officer came up through the ranks over 30 years ago; many other staff members have been employed for over 10 years.\r\n\nWe are also fortunate to have a visionary high-profile Board comprising community leaders who guide our direction and decisions. Our Board of Directors is comprised of business leaders, professionals, successful retirees and other volunteers. Our Board and staff reflect the diversity of the people and key interests of our community."
permalink: team.html
---

<section class="hero-cascade">
    <div
        style="background: url({{ page.hero | absolute_url }});"
        class="hero-view bg-image-fill position-center position-relative p-5"
    ></div>
    <div
        class="d-flex flex-column align-items-center col-sm-11 col-md-8 col-lg-7 mx-auto hero-content shadow bg-white rounded p-3"
    >
        <h1 class="text-center section-header underline">{{ page.title }}</h1>
        <div class="lead pt-3 px-3">{{ page.description | markdownify }}</div>
    </div>
</section>
<section class="section py-5">
    <div class="container">
        <h2 class="text-center section-header">Administrative Staff</h2>
        <div class="row">
            {% for staff in site.data.staff.staff %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3 my-1">
                <div class="card bg-light h-100">
                    <div class="card-body">
                        {% assign nameArray = staff.name | split: " " %} {%
                        assign firstLetter = nameArray | first | slice: 0 %} {%
                        assign secondLetter = nameArray | last | slice: 0 %} {%
                        assign initials = firstLetter | append: secondLetter %}
                        <div class="d-flex py-1">
                            <div>
                                <div
                                    class="avatar avatar-sm text-white bg-secondary rounded-circle d-flex justify-content-center align-items-center"
                                >
                                    {{ initials }}
                                </div>
                            </div>
                            <div class="pl-3 flex-fill">
                                <h5 class="m-0">{{ staff.name }}</h5>
                                <small class="text-muted"
                                    >{{ staff.title }}</small
                                >
                                <small>
                                    <a class="text-muted" style="text-decoration: underline" href="tel:{{staff.phone.number | replace: "-", ""}};{{staff.phone.extension}}">{{staff.phone.number}} ext. {{staff.phone.extension}}</a>
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section py-5 bg-light">
    <div class="container">
        <h2 class="text-center section-header">Board of Directors</h2>
        <div class="row">
            {% for board in site.data.board-members.board-members %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="d-flex flex-column my-3">
                    <p class="lead m-0">{{ board.name }}</p>
                    {% if board.title %}
                    <small class="text-muted">{{ board.title }}</small> {% endif
                    %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section py-5">
    <div class="container">
        <h2 class="text-center section-header">Friends Board</h2>
        <div class="row">
            {% for friend in site.data.friends-of-board.friends %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="d-flex flex-column my-3">
                    <p class="lead m-0">{{ friend.name }}</p>
                    {% if friend.title %}
                    <small class="text-muted">{{ friend.title }}</small> {%
                    endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
<section class="section py-5 bg-light">
    <div class="container">
        <h2 class="text-center section-header">Emeritus</h2>
        <div class="row">
            {% for emeritus in site.data.emeritus-members.emeritus %}
            <div class="col-sm-12 col-md-6 col-lg-4 col-xl-3">
                <div class="d-flex flex-column my-3">
                    <p class="lead m-0">{{ emeritus.name }}</p>
                    {% if emeritus.title %}
                    <small class="text-muted">{{ emeritus.title }}</small> {%
                    endif %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>
