---
layout: site-layout
title: Virtual Club
description: >-
  Provide safe havens and a welcoming atmosphere for thousands of youth across
  the Coachella Valley. After school activities build leadership skills,
  encourage good citizenship, keep students engaged academically, promote
  physical activity, and champion community involvement. For more information on
  programs and services please contact your local clubhouse.
permalink: virtual-club.html
---

{%- comment -%} <section class="hero-cascade">
    <div
        style="background: url({{ page.hero | absolute_url }});"
        class="hero-view bg-image-fill position-center position-relative p-5"
    ></div>
    <div
        class="d-flex flex-column align-items-center col-sm-11 col-md-8 col-lg-7 mx-auto hero-content shadow bg-white rounded p-3"
    >
        <h1 class="text-center section-header underline">{{ page.title }}</h1>
        <div class="lead pt-3 px-3">{{ page.description | markdownify }}</div>
        <div class="d-flex justify-content-center">
            <a
                href="{{ site.data.global.registrationForm }}"
                target="_blank"
                rel="noopener noreferrer"
                class="btn btn-secondary mx-auto text-uppercase"
                >BECOME A CLUB MEMBER</a
            >
        </div>
    </div>
</section> {%- endcomment -%}

<section class="section py-5" id="virtual-club-page">
    <div class="container">
        <h1 class="pb-3">Welcome to the Virtual Club</h1>
        <div class="row">
            {% for club in site.our-clubs %}
            {% if club.showVirtualCalendar %}
            <div class="col-sm-12 col-md-12 col-lg-12 py-3">
                <div class="card shadow-sm club-card">
                    <div class="row no-gutters">
                        <div class="col-md-4">
                        <img src="{{club.image}}" class="img-fluid" alt="{{club.name}}">
                        </div>
                        <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text">{{ club.title }}</p>
                            <h5 class="card-title h1">{{ club.city | split: ", " | first }}</h5>
                             {% if club.isVirtualLive %}
                                {% if club.isVirtualPrivate %}
                                <p class="lead">Live sessions for this club are by invitation only.</p>
                                {% endif %}
                                <div class="live-indicator">
                                    <div class="is-live d-none">
                                    <p class="live-description"></p>
                                    <a
                                        href="{{ club.zoomUrl | absolute_url}}" target="_blank" rel="noopener"
                                        role="button"
                                        class="live-button btn btn-light text-secondary font-weight-bold my-2 my-sm-0 mr-1"
                                        >Join Us Live
                                        <span style="font-size:10px; margin-left: 5px"
                                            ><i class="fa fa-circle text-danger Blink"></i
                                        ></span>
                                    </a>
                                    </div> 
                                    <p class="d-none text-muted is-not-live">Check our schedule below for live-streaming hours.</p>
                                </div>
                            {% else %}
                            <p>Live streaming starts {{club.virtualStartDate | date: "%A, %B %-d, %Y"}}</p>
                            {% endif %}
                        </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs" id="schedule-tabs" role="tablist">
                        {% for item in club.virtualSchedule %}
                        <li class="nav-item">
                            <a class="nav-link text-uppercase" data-day="{{item.dayNumber}}" data-toggle="tab" href="#{{ club.city | split: ', ' | first | downcase | replace: " ", "-" }}-{{item.day}}" role="tab" aria-controls="{{item.day}}">{{item.day}}</a>
                        </li>
                        {%endfor%}
                    </ul>
                    <div class="card-body tab-content" id="schedule-content">
                        {% for item in club.virtualSchedule %}
                        <div class="tab-pane fade" data-start="{{item.start}}" data-end="{{item.end}}" data-day="{{item.dayNumber}}" id="{{ club.city | split: ', ' | first | downcase | replace: " ", "-" }}-{{item.day}}" role="tabpanel" aria-labelledby="{{item.day}}-tab">
                        <div class="d-flex flex-column">
                            {% if item.isOff %}
                            <span>No Classes Today</span>
                            {%else%}
                            {% for slot in item.slots %}
                                <div>
                                <span>{{slot.time}}</span>
                                &nbsp;
                                <span>{{slot.subject}}</span>
                                </div>
                            {% endfor %}
                            {%endif%}
                        </div>
                        </div>
                        {%endfor%}
                    </div>
                </div>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
<section class="section py-5">
    <div class="container">
        <h2>Online Community Resource Center</h2>
        <ul>
            {% assign sorted = site.data.resources | sort: 'organization' %}
            {% for resource in sorted %}
            <li>
                <a href="{{resource.website}}" target="_blank" rel="noopener noreferrer">{{resource.organization}}</a>
                <p>{{resource.summary}}</p>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>