.btn-round {
    padding: 0;
    align-items: center;
    justify-content: center;
    display: inline-flex;
    height: 40px;
    width: 40px;
    &.border {
        border-width: 2px !important;
    }
    &.btn-lg {
        font-size: 1.25rem;
        line-height: 1.5;
        height: 48px;
        width: 48px;
    }
}

.btn-twitter {
    color: white;
    background-color: $twitterBlue;
    &:active,
    &:focus,
    &:hover {
        color: white;
        background-color: darken($twitterBlue, 10%);
    }
}

.btn-facebook {
    color: white;
    background-color: $facebookBlue;
    &:active,
    &:focus,
    &:hover {
        color: white;
        background-color: darken($facebookBlue, 10%);
    }
}
