.hero {
    height: 300px;
}

.hero-cascade {
    position: relative;
    display: flex;
    flex-direction: column;
    .hero-view {
        height: 300px;
        z-index: 2;
    }

    .hero-content {
        margin-top: -5rem;
        z-index: 3;
    }

    &-home {
        .hero-view {
            height: 400px;
            .hero-logo {
                z-index: 1;
            }
        }
    }
}
