a.made-with-heart {
    color: rgba(255, 255, 255, 0.54);

    svg {
        animation: beat 0.5s infinite alternate;
        color: #f44336;
    }

    &:hover {
        text-decoration: none;
    }
}

@keyframes beat {
    to {
        transform: scale(1.2);
        color: #b71c1c;
    }
}
